*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,
html {
    margin: 0;
    background-image: linear-gradient(#FFFFFF, #F6F7FB);
    height: 100%;
    overflow: hidden;
}

header {
    margin: 2rem;
}

.header-container {
    justify-content: space-between;
    width: 44rem;
}

.icon-logo {
    width: 7.5rem;
}

.profile-pic {
    height: 65rem;
    width: 46rem;
    border-radius: 1.2rem;
}

.dog-name-age {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    color: #F8F8F8;
    font-size: 3.2rem;
}

.bio {
    color: #B7B7B7;
    font-size: 2.4rem;
    display: block;
}

.container {
    position: relative;
}

.buttons {
    height: 10.4rem;
}

.badge-like {
    display: none;
}

.badge-nope {
    display: none;
}

.button-like:hover {
    background-color: #DBFFF4;
}

.button-swipe:hover {
    background-color: #FFE7EF;
}

.icon-profile,
.icon-chat {
    width: 3.2rem;
    height: 3.4rem;
}

header,
.header-container,
.profile,
.buttons {
    display: flex;
}

header,
.profile,
.buttons {
    justify-content: center;
}

.header-container,
.buttons {
    align-items: center;
}

.button-swipe,
.button-like {
    margin: 0 1.5rem;
    width: 9.1rem;
    height: 9.1rem;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.badge-like,
.badge-nope {
    width: 22rem;
    height: 10.6rem;
    position: absolute;
    transform: rotate(-30deg);
    left: 2rem;
    top: 5.5rem;
}